.hotel
    padding-top: 23px
    padding-bottom: 70px
    &-info
        display: flex
        align-items: center
        justify-content: space-between
        padding-bottom: 20px
        &__name
            margin-bottom: 0
            margin-top: 4px
        &__offer
            margin-left: 14px
    &-name
        font-size: 24px
        line-height: 30px
    &-wrapper
        display: flex
        flex-wrap: wrap
        align-items: center
    &-description
        font-size: 12px
        line-height: 15px
        margin: 0
    &-grid
        display: flex
        justify-content: space-between
    &-right
        display: flex
        flex-direction: column
        justify-content: space-between
.stars
    flex-basis: 100%
.offer
    font-weight: 600
    font-size: 10px
    line-height: 13px
    background-color: $primary
    padding: 4px 9px
    border-radius: 3px
    color: $light
.rating
    max-width: 65px
    min-height: 45px
    border-radius: 4px
    background-color: $primary
    color: $light
    text-align: center
    &__text
        font-weight: 600
        font-size: 8px
        line-height: 10px
    &__counter
        font-weight: bold
        font-size: 14px
        line-height: 18px
.swiper-container
    width: 100%
    height: 450px
    position: relative
    border-radius: 8px

    &::after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
        z-index: 10
.slider
    width: 728px
    &-button
        position: absolute
        z-index: 99
        top: 50%
        transform: translateY(-50%)
        width: 30px
        height: 30px
        border: none
        cursor: pointer
        background-repeat: no-repeat
        background-position: center
        background-size: 10px
        background-color: transparent
        &--next
            right: 18px
            background-image: url('../img/arrow-next.svg')
        &--prev
            left: 18px
            background-image: url('../img/arrow-prev.svg')
.booking
    background: $dark
    border-radius: 8px
    width: 350px
    min-height: 210px
    color: $light
    padding: 27px
    font-family: 'Nunito', sans-serif
    &-info
        display: flex
        justify-content: space-between
        margin-bottom: 8px
    &__price
        display: flex
        flex-direction: column
    &__start
        font-size: 10px
        line-height: 14px
    &__pricetag
        font-size: 24px
        line-height: 33px
    &__per-room
        font-size: 12px
        line-height: 16px
    &__description
        font-size: 12px
        line-height: 16px
        margin-left: 9px
    &__text
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 8px
    &__call-center
        display: flex
        justify-content: space-between
        align-items: center
        font-weight: 600
        font-size: 18px
        line-height: 25px
        margin-bottom: 17px
    &__number
        text-decoration: none
        color: $light
    &__num
        margin-left: 8px
    &__button
        padding: 13px 84px
        font-weight: 600
        font-size: 14px
        line-height: 19px
        background-color: $primary
        border: none
        color: $light
        border-radius: 4px
        cursor: pointer
.map
    width: 347px
    height: 213px
    background-color: black
    border-radius: 10px
